{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if is_granted('ROLE_ADMIN') %}
                {{ 'ROLE_ADMIN' }} </br>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                {{ 'ROLE_MANAGER' }}
            {% endif %}

        </div>
    </div>
{% endblock %}