{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Categorys</th>
            <th>Posts</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categorys %}
            <tr>
                <td>
                    <a href="{{ category.code }}/posts"> {{ category.name }}</a>
                </td>
                <td>{{ recentPostsCount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

